<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ssambbong Kiosk</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>Ssambbong Kiosk</h1>
		<nav>
			<ul>
				<li><a href="쌈뽕 메뉴 영어.html">Menu</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="hero">
			<video autoplay loop muted>
				<source src="hero-video.mp4" type="video/mp4">
			</video>
			<h2>Today's Menu</h2>
			<div class="popular-items">
				<div class=item">
					<img src="수박주스.jpg" alt="item 1">
					<h3>Watermelon Juice</h3>
					<p>Watermelon juice made by removing the seeds and grinding them hard ! Thailand where you can feel it without going to Thailand !!</p>
					<button>Order</button>
				</div>
			</div>
		</section>

		<section class="menu">
			<h2>Menu</h2>
			<div class="menu-categories">
				<button class="active">전체</button>
				<button>분류 1</button>
				<button>분류 2</button>
			</div>
			<div class="menu-items">
				<div class="item">
					<img src="메뉴판.jpg" alt="item 2">
					<h3>아이템 2</h3>
					<p>설명 텍스트</p>
					<button>Order</button>
				</div>
			</div>
		</section>
	</main>

	<script src="script.js"></script>
</body>
</html>