<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>쌈뽕 키오스크</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>쌈뽕 키오스크</h1>
		<nav>
			<ul>
				<li><a href="쌈뽕 메뉴.html">메뉴</a></li>
				<li><a href="쌈뽕 키오스크 영어.html">English</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="hero">
			<video autoplay loop muted>
				<source src="hero-video.mp4" type="video/mp4">
			</video>
			<h2>오늘의 메뉴</h2>
			<div class="popular-items">
				<div class=item">
					<img src="수박주스.jpg" alt="item 1">
					<h3>수박 주스</h3>
					<p>수박 씨 직접 한땀한땀 발라내고 열심히 갈아서 만든 수제 수박주스 ! 태국 가지 않고도 느낄 수 있는 태국 ~</p>
					<button>주문하기</button>
				</div>
			</div>
		</section>

		<section class="menu">
			<h2>전체 메뉴</h2>
			<div class="menu-categories">
				<button class="active">전체</button>
				<button>분류 1</button>
				<button>분류 2</button>
			</div>
			<div class="menu-items">
				<div class="item">
					<img src="메뉴판.jpg" alt="item 2">
					<h3>아이템 2</h3>
					<p>설명 텍스트</p>
					<button>주문하기</button>
				</div>
			</div>
		</section>
	</main>

	<footer class="footer">
		<div class="remaining-time-container">
			남은시간 <span class="remaining-time"></span>초
		</div>
<!--
		<ul class="order-list">
			<li id="${id}" class="order-item">
				<i class="remove-item far fa-times-circle"></i>
				<span class="item-name">${menuName}</span>
				<span class="item-price">${price}원</span>
			</li>
		</ul>
	-->
		<div class="selected-item-container">
			선택한 상품 <span class="selected-item-num"></span>
		</div>
		<button class="order-btn order-btn-invalid">
			<span class="total-price"></span> 결제하기
		</button>
		<button class="delete-all-items">전체삭제</button>
		
		 <div class="pay-modal-container modal-invisible">
			<div class="pay-modal">
				<h3 class="pay-modal-heading">주문리스트</h3>
				<p class="pay-modal-text"><span>주문리스트</span>를 확인해 주세요.</p>
				
				<div class="pay-list-container">
					<div class="pay-list-head">
						<span>메뉴</span>
						<span>가격</span>
					</div>
					
					<ul class="pay-list">
					</ul>
				</div>
				
				<div class="pay-result">
					<span>총 수량 <span class="total-item-num"></span></span>
					<span>총 결제금액 <span class="total-item-price"></span></span>
				</div>
				<div>
					<button class="pay-result-check">확 인</button>
					<button class="pay-result-cancel">취 소</button>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>