<!DOCTYPE html>
    <body>
        <ul>
            <li>Coffee</li>
            <ol>
                <li>Americano</li>
                <li>Café Latte</li>
                <li>vanilla Latte</li>
                <li>Caramel Macchiato</li>
            </ol>
            <li>Tea</li>
            <ol>
                <li>Yuju Tea</li>
                <li>Peppermint</li>
                <li>Hibiscus</li>
                <li>Alright Tea</li>
            </ol>
            <li>Drink</li>
            <ol>
                <li>Lemonade</li>
                <li>Orange ade</li>
                <li>Chocolate milk</li>
                <li>Mercury powder</li>
                <li>Milk tea</li>
                <li>Mintchocolate Frappuccino</li>
            </ol>
            <li>Dessert</li>
            <ol>
                <li>Sandwich</li>
                <li>Piece Cake</li>
                <li>bagel</li>
                <li>Macaron</li>
                <li>bread</li>
                <li>Pudding</li>
            </ol>
        </ul>
    </body>
</html>
