<!DOCTYPE html>
<html lang="ko">
    <body>
        <ul>
            <li>커피</li>
            <ol>
                <li>아메리카노</li>
                <li>카페 라떼</li>
                <li>바닐라 라떼</li>
                <li>캬라멜 마끼아또</li>
            </ol>
            <li>티</li>
            <ol>
                <li>유자차</li>
                <li>페퍼민트</li>
                <li>히비스커스</li>
                <li>얼그레이티</li>
            </ol>
            <li>음료</li>
            <ol>
                <li>레몬에이드</li>
                <li>오렌지에이드</li>
                <li>초코우유</li>
                <li>미숫가루</li>
                <li>밀크티</li>
                <li>민트초코 프라프치노</li>
            </ol>
            <li>디저트</li>
            <ol>
                <li>샌드위치</li>
                <li>조각케이크</li>
                <li>베이글</li>
                <li>마카롱</li>
                <li>빵</li>
                <li>푸딩</li>
            </ol>
        </ul>
    </body>
</html>
